@import 'variables.scss';

.ant-picker {
  height: 40px;

  padding: 0 17px;

  border-radius: 0;

  color: var(--color-black);

  border: 1px solid #898989;
  outline: transparent;

  &:hover {
    border-color: $colorPrimary1;
  }
}

.ant-picker-focused {
  border-color: $colorPrimary1 !important;
}

.ant-picker-cell-inner::before {
  border-color: $colorPrimary1 !important;
  border-radius: 0 !important;
}

.ant-picker-today-btn {
  color: $colorPrimary1 !important;
}

.ant-picker-cell-selected > .ant-picker-cell-inner {
  background-color: $colorPrimary1 !important;
}

.ant-picker-disabled {
  cursor: default !important;

  border: none;
  border-bottom: 1px solid #cccbcb !important;

  background-color: transparent !important;

  input {
    cursor: default !important;

    color: rgba(0, 0, 0, 1) !important;
  }

  .ant-picker-suffix {
    display: none;
  }
}

.ant-switch.ant-switch-checked {
  background-color: $colorPrimary1 !important;
}

.ant-switch.ant-switch-disabled {
  opacity: 1;
}

.ant-spin-text {
  // height: 10px;

  // right: 30px;

  color: $colorPrimary1;
}

.ant-spin .ant-spin-dot-item.ant-spin-dot-item {
  background-color: $colorPrimary1;
}

.ant-select-selector {
  border-color: $colorPrimary1 !important;
  border-radius: 0 !important;
}

.ant-select-item-option-selected:not(.ant-select-item-option-disabled) {
  background-color: rgba(86, 178, 128, 0.8) !important;

  color: #fff !important;
  font-weight: normal;
}

.ant-select-selector {
  border-color: $colorPrimary1 !important;
  border-radius: 0 !important;
}

.ant-select-item-option-selected:not(.ant-select-item-option-disabled) {
  background-color: rgba(86, 178, 128, 0.8) !important;

  color: #fff !important;
  font-weight: normal;
}
